[submodule ".vim/pack/default/start/rust"]
	path = .vim/pack/default/start/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/pack/default/start/vim-aldermis"]
	path = .vim/pack/default/start/vim-aldermis
	url = https://github.com/veloce/vim-aldmeris.git
[submodule ".vim/pack/default/start/Zenburn"]
	path = .vim/pack/default/start/Zenburn
	url = https://github.com/jnurmine/Zenburn
[submodule ".vim/pack/opt/vim-orgmode"]
	path = .vim/pack/default/opt/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule ".vim/pack/default/start/speeddating"]
	path = .vim/pack/default/start/speeddating
	url = https://tpope.io/vim/speeddating.git
[submodule ".vim/pack/default/start/async"]
	path = .vim/pack/default/start/async
	url = https://github.com/prabirshrestha/async.vim
[submodule ".vim/pack/default/start/vim-lsp"]
	path = .vim/pack/default/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule ".vim/pack/default/start/asyncomplete"]
	path = .vim/pack/default/start/asyncomplete
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "vimwiki"]
	path = vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/pack/default/start/vimwiki"]
	path = .vim/pack/default/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/pack/default/start/fugitive"]
	path = .vim/pack/default/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/default/opt/vim-markdown"]
	path = .vim/pack/default/opt/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/pack/default/start/unimpaired"]
	path = .vim/pack/default/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/pack/default/start/vim-toml"]
	path = .vim/pack/default/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule ".vim/pack/debfault/start/gruvbox"]
	path = .vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".config/nvim/pack/github/start/copilot.vim"]
	path = .config/nvim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule ".config/lazyvim"]
	path = .config/lazyvim
	url = https://github.com/dgreid/LazyVim
