[user]
	email = dgreid@rivosinc.com
	name = Dylan Reid
[color]
	status = auto
	branch = auto
	pager = true
	interactive = auto
	grep = auto
	diff = auto
	showbranch = auto
[color "diff"]
   new = white bold
[core]
   excludesfile = /home/dgreid/.gitignore
[alias]
   ane = commit --amend --no-edit
   ci = commit
   caane = commit -a --amend --no-edit
   co = checkout
   ss = show --stat
   st = status
   subup = submodule update --init --recursive
   br = branch --sort=-committerdate
   bra = branch -a --sort=-committerdate
   lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
   lgt = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative HEAD~25..
   lgT = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative HEAD~50..
   rs = remote show
   rsn = remote show -n
   chp = cherry-pick
   shst = show --stat
   rbc = rebase --continue
   rbi = rebase --interactive
   rbim = rebase --interactive master
   rbs = rebase --skip
   rank = !git shortlog -sn --no-merges
   rvfetch = fetch origin rivos/main:master
[merge]
	conflictstyle = diff3
	tool = vimdiff
[rerere]
	enabled = 1
[http]
	cookiefile = /home/dgreid/.gitcookies
[sendemail]
	smtpserver = smtp.gmail.com
	smtpuser = dylan@rivosinc.com
	smtpencryption = tls
	smtpserverport = 587
[credential "smtp://dylan%40rivosinc.com@smtp.gmail.com%3a587"]
	helper = !pass git-send-email/rivos
[advice]
	detachedHead = false
[diff]
	submodule = log
[push]
	recurseSubmodules = check
[submodule]
	recurse = false
