[submodule ".vim/pack/default/start/rust"]
	path = .vim/pack/default/start/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/pack/default/start/vim-aldermis"]
	path = .vim/pack/default/start/vim-aldermis
	url = git://github.com/veloce/vim-aldmeris.git
[submodule ".vim/pack/default/start/Zenburn"]
	path = .vim/pack/default/start/Zenburn
	url = https://github.com/jnurmine/Zenburn
[submodule ".vim/pack/opt/vim-orgmode"]
	path = .vim/pack/default/opt/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
